*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    background-color: rgb(2, 8, 30);
    height: 10vh;
    color: white;
    line-height: 10vh;
}

.choices{
    /* height: ; */
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.choice{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.choice:hover{
    opacity: 0.7;
    cursor: pointer;
}
img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: none;
}
.scoreBoard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    gap: 5vw;
    font-size: 2rem;
}

.user, .comp{
    font-size: 4rem;
}
.result{
    
    height: 7vh;
    width: fit-content;
    padding-inline: 2vw;
    font-size: 30px;
    font-weight: 600;
    line-height: 7vh;
    color: white;
}
.msg ,.Result{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Reset{
    background-color: rgb(2, 8, 30);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-inline: 2vw;
    height: 7vh;
    width: fit-content;
    border-radius: 8px;
}
.Reset:hover{
    color: yellow;
}
.message{
    background-color: rgb(2, 8, 30);
    color: white;
    height: 7vh;
    line-height: 7vh;
    width: fit-content;
    padding-inline: 2vw;
    font-size: 20px;
    font-weight: 600;
}